h1 {
    visibility: hidden;
  }
  
  .is-hidden {
    display: none;
  }
  
  .gallery{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
  }
  .gallery__card{
  margin: 10px;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px #434547;
  }
  .gallery_info {
    display: flex;
    justify-content: space-around;
  }
  
  .gallery_info_item {
    line-height: 1.6;
    text-align: center;
  }
  body{
    background: #fff;
  }
  header{
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
      padding: 20px 0 20px 0;
  }
  .search-form{
    display: flex;
    justify-content: center;
  
  }
  .search-form__input{
    background-color: #fff;
    width: 300px;
    height: 40px;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #000;
  }
  
  .search-form__button{
    background-color: #fff;
    margin-left: 10px;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    border: 1px solid #47B5FF;
    cursor: pointer;

    &:hover, &:focus{
      background: #47B5FF;
      color: #fff;
    }
  }
  
  .load{
     display: flex;
     justify-content: center;
     padding: 10px 0 20px 0;
  }
  .load-more{
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #47B5FF;
    cursor: pointer;

    &:hover, &:focus{
      background: #47B5FF;
      color: #fff;
    }
  }
  
  .load-more .is-hidden{
    display: none;
  }